#!/bin/sh

synclient TouchpadOff=1 &
setxkbmap -layout us,ru -option grp:alt_shift_toggle &
picom --config /home/$(whoami)/.config/picom/picom.conf -b &
feh --bg-fill /home/$(whoami)/Pictures/Wallpapers/eyes.png &
